<form [formGroup]="userForm">
    <div class="col-12">
        <div class="card">
            <h5>Cadastro de Leads de atendimento</h5>

            <div class="p-fluid p-formgrid grid">


                <div class="field col-12 md:col-12">
                    <label htmlFor="origemlead">Origem do lead</label>
                    <p-dropdown formControlName="origemlead" [options]="origemlead" id="origemlead" optionLabel="label"
                       placeholder="Selecione ORIGEM">
                    </p-dropdown>
                </div>

                <div class="field col-12 md:col-12">
                    <label htmlFor="destinolead">Destino do Lead</label>
                    <p-dropdown formControlName="destinolead" [options]="destinolead" id="destinolead" optionLabel="label"
                       placeholder="Selecione Destino">
                    </p-dropdown>
                </div>

                <div class="field col-12 md:col-4">
                    <label htmlFor="nomecliente">Nome cliente</label>
                    <p-inputNumber formControlName="nomecliente" id="nomecliente"   
                        > </p-inputNumber>
                </div>

                <div class="field col-12 md:col-4">
                    <label htmlFor="fonecliente">Telefone do Cliente</label>
                    <p-inputNumber formControlName="fonecliente" id="fonecliente"
                          >
                    </p-inputNumber>
                </div>

                <div class="field col-12 md:col-4">
                    <label htmlFor="datacontato">Data do contato</label>
                    <p-inputNumber formControlName="datacontato" id="datacontato" 
                        >
                    </p-inputNumber>
                </div>
              
                <div class="field col-12 md:col-12">
                    <label htmlFor="itempesquisado">Item de interesse do cliente</label>
                    <p-inputNumber formControlName="itempesquisado" id="itempesquisado" 
                         >
                    </p-inputNumber>
                </div>
                <p-toast position="top-center" key="toastex" [life]="1500"></p-toast>
                <p-toast position="top-center" key="alertaex" [life]="1500"></p-toast>
               

                <div class="flex flex-wrap gap-2 col-12 md:col-12">
                    <button pButton pRipple (click)="enviarFormulario()" label="Cadastrar" icon="pi pi-plus" iconPos="right"
                       ></button>
                </div>
                <div class="flex flex-wrap gap-2 col-12 md:col-12">
                    <button pButton pRipple label="Limpar" icon="pi pi-refresh" iconPos="right"
                        class="p-button-raised p-button-warning"></button>
                </div>
            </div>
        </div>
    </div>

</form>