<div class="card">
    <p-table
        #dt1
        [value]="products"
        [globalFilterFields]="['nome', 'codigo']"
        selectionMode="single"
        [(selection)]="products"
        dataKey="id"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rows]="5"
        [paginator]="true"
        stateStorage="session"
        stateKey="statedemo-session">
        <ng-template pTemplate="caption">
            <p-iconField iconPosition="left">
                <p-inputIcon>
                    <i class="pi pi-search">&nbsp;</i>
                </p-inputIcon>
                <input 
                    pInputText 
                    type="text" 
                    (input)="dt1.filterGlobal($event.target.value, 'contains')" 
                    placeholder="Global Search" />
            </p-iconField>
        </ng-template>
        
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="codigo" style="width:25%">
                    Código <p-sortIcon field="products.codigo" />
                </th>
                <th pSortableColumn="nome" style="width:25%">
                    Produto <p-sortIcon field="products.nome" />
                </th>
                <th pSortableColumn="products.nome" style="width:25%">
                    Imagem 
                </th>
                <th pSortableColumn="products.criado_em" style="width:25%">
                    Data cadastro <p-sortIcon field="status" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr [pSelectableRow]="customer">
                <td>
                    <span class="p-column-title">Código</span>
                    <span class="ml-1 vertical-align-middle">{{ customer.codigo}}</span>
                </td>
                <td>
                    <span class="p-column-title">Produto</span>
                    
                    <span class="ml-1 vertical-align-middle">{{ customer.nome}}</span>
                </td>
                <td>
                    <span class="p-column-title">Imagem</span>
                    <img 
                        [alt]="teste" 
                        src={{customer.imagem_principal}}
                        width="64" 
                        style="vertical-align: middle" />
                    <span class="ml-1 vertical-align-middle"></span>
                </td>
                <td>
                    <span class="p-column-title">Data de Cadastro</span>
                    <p-tag [value]="customer.criado_em" [severity]="getSeverity(customer.criado_em)" />
                    <span class="ml-1 vertical-align-middle">{{ customer.criado_em}}</span>
                </td>
            </tr>
        </ng-template>
      
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>